#section6{
    padding: 100px 0;
    .cards-Section6{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .card{
            max-width: 33%;
            min-width: 250px;
            text-align: center;
            padding: 0 15px;
            .prix{
                padding: 30px 0 20px 0;
                background: url("../../public/img/about/about-1.jpg");
                background-size: cover;
                background-position: center;
                color: #fff;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                h3{
                    font-size: 15px;
                    margin-bottom: 5px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                span{
                    font-size: 50px;
                    padding: 10px 0;
                }
                p{
                    font-size: 14px;
                    width: 60%;
                    margin: 0 auto;
                }
            }
            .card-body{
                background-color: #f9f9f9;
                margin-bottom: 15px;
                padding-bottom: 40px;
                ul{
                    padding: 20px 0 10px 0;
                }
                li{
                    color: #666;
                    font-size: 16px;
                    padding: 10px 0;
                }
                .btnArticle {
                    a {
                        font-size: 14px;
                        margin-top: 10px;
                        padding: 10px 40px;
                        margin-top: 20px;
                        background-color: #21d6bf;
                        background-image: linear-gradient(100deg, #f9643d, #fe2a77);
                        color: #fff;
                        display: inline-block;
                        font-size: 14px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        border: 1px solid transparent;
                        border-radius: 2px;
                    }
                    a:hover {
                        background-image: none;
                    }
                }
            }
        }
    }
}