#section1{
    background: #F7F7F7;
    padding: 100px 0;
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .titre{
            max-width: 40%;
            min-width: 240px;
            padding: 0 15px;
            h2{
                position: relative;
                font-size: 2rem;
            }
            h2::before {
                position: absolute;
                left: -50px;
                top: 18px;
                content: '';
                display: inline-block;
                width: 44px;
                height: 3px;
                background-image: linear-gradient(100deg, #f9643d, #fe2a77);
            }
        }
        .text{
            color: #9A9A9A;
            max-width: 60%;
            min-width: 380px;
            padding: 0 15px;
            .padding{
                padding-bottom: 20px;
            }
        }
    }
}